@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Pacifico&display=swap');

header{
    background-color: purple;
}

main {
    padding: 10px;
    background-color: purple;
}
.post {
    background-color: orange;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    font-family: 'Caveat';
    font-weight: 100;
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.post img {
    margin: 20px;
}
body {
   background-color: purple;
}

.post10 img {
    margin: 20px;
    padding: 10px 1000px 10px 10px;
}

.post10 {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
}

footer {
    background-color:purple;
}

.post9 {
    background-color: orange;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    color: red;
}
.post9 img {
    margin: 20px;
}

